h1{
    font-style: font-family: 'Slabo 27px', serif;
    font-size: 42px;
    text-align: center;
    margin: 20px;
}

h2{
    font-style: font-family: 'Slabo 27px', serif;
    font-size:32px;
    text-align: center;
    margin: 20px;
}

.pictures{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
}

*{
    background-image: url("../images/stripes.jpg")
}